wandb/
slurm_logs/
results/
__pycache__/
data/bright/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
plot/
# ignore all __pycache__ folderr and all .pyc files

score_rerank.py
thoughtology.py
run_tho.sh
*.ipynb
results/
plots/
data/bright/
data/zero_shot_rerank/
*.tar.gz
*.json
*.parquet
*.ipynb
run_evaluation.sh